.car-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .car-image {
    width: 100%;
    height: auto;
  }
  
  .car-info {
    margin-top: 20px;
  }
  
  .car-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .car-info p {
    font-size: 18px;
    margin: 5px 0;
  }
  