.form-container {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
  
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
.form-container label {
    display: block;
    margin-bottom: 5px;
}
  
.form-container input {
    width: 93%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--cor-borda);
    border-radius: 3px;
}
  
button {
    background-color: var(--cor-destaque);
    color: var(--cor-branca);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button.cancelar {
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-destaque);
    color: var(--cor-destaque);
    margin-top: 5px;
}
  