.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 5px;
  }
  
  .car-card {
    width: 24%;
    margin-bottom: 20px;
    border: 1px solid var(--cor-borda);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--cor-branca);
  }
  
  .car-card img {
    max-width: 100%;
    height: auto;
  }
  
  .car-info {
    margin-top: 10px;
  }
  
  .car-price {
    font-weight: bold;
    color: var(--cor-destaque);
  }
  
  @media (max-width: 768px) {
    .car-card {
      width: 100%;
      margin-right: 0;
    }
  }